.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: beige;
}
.App input{
  border-radius: 5px;
  padding: 8px;
  width: 300px;
}
.App button{
  background-color: blue;
  color: white;
  padding: 8px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  width: 100px;
}
.App label{
  font-weight: 700;
}
.App p{
  color: red;
  font-weight: 400;
}